/* Estilo para la sección de altura completa */
.full-screen-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Contenedor de la sección "Sobre Nosotros" */
.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

/* Texto de la sección "Sobre Nosotros" */
.about-text {
    flex: 1;
    text-align: left;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #333;
}

/* Imágenes de la sección "Sobre Nosotros" */
.about-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive para "Sobre Nosotros" */
@media (max-width: $breakpoint-tablet) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    .about-images {
        margin-top: 20px;
    }
}